@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p></p>
<p>Professor: @ViewData["Professor"]</p>
<p>Contato: @ViewData["email"]</p>

<adress>
    <strong> More Information: </strong> <a href="http://uol.com.br">uol.com.br</a>
</adress>